# 튜토리얼 3 - 주가 정보 입수

튜토리얼 2에서 CHECK-API 정보를 정상적으로 설정하였다면 본 튜토리얼에서 설명하는 대로 주가 정보를 입수할 수 있습니다.

## 3.1 `kquant` 패키지 임포트

`kquant` 패키지를 임포트 합니다. 본 튜토리얼에서는 `kq`라는 별칭(alias)을 사용합니다.

In [1]:
import kquant as kq

## 3.2 주식 ISIN 코드와 단축코드

주식 등 금융상품에 대한 정보를 입수하기 위해서는 종목코드라고 부르는 해당 상품의 코드(code) 혹은 심볼(symbol)정보를 알고 있어야 합니다. 

국내의 금융상품 코드는 공식적으로 12자리 영문자 및 숫자로 구성된 **국제증권식별번호**(ISIN: International Securities Identification Number)를 사용합니다. 예를 들어 삼성전자의 ISIN 코드는 `KR7005930003`입니다. 그러나 ISIN 코드는 12자리고 실무에서 사용하기에는 너무 길기 때문에 주식종목에 한하여 ISIN 코드 중 4번째 자리수부터 9번째 자리수까지의 6자리만을 사용하는 이른바 **"단축코드"**를 더 많이 사용합니다. 예를 들어 삼성전자의 단축코드는 `005930`입니다.

`kquant` 패키지에서는 모든 금융상품에 대한 종목코드 정보를 제공합니다. 주식의 경우 `symbol_stock()` 함수를 사용하여 모든 주식의 종목코드 정보를 받을 수 있습니다. `symbol_stock()` 함수에 대한 자세한 정보는 `kquant` 패키지 [API 참조문서](../apiref/kquant/data/market/symbol/symbol_stock.html){target="_blank"}를 참조하세요.

`symbol_stock()` 함수를 포함한 대부분의  `kquant` 패키지 함수는 Pandas 데이터프레임(DataFrame) 형식으로 정보를 반환합니다. Pandas 패키지에 대해서는 해당 패키지의 웹사이트([https://pandas.pydata.org/](https://pandas.pydata.org/){target="_blank})를 참조하세요.

In [2]:
df_symbols = kq.symbol_stock()
df_symbols

,ISIN,SYMBOL,NAME,NAME_EN,SEC_TYPE,ADMIN_ISSUE,MARKET
0,HK0000057197,900110,이스트아시아홀딩스,East Asia Holdings,FS,0,코스닥
1,HK0000214814,900270,헝셩그룹,HENG SHENG GROUP,FS,0,코스닥
2,HK0000295359,900260,로스웰,Rothwell,FS,0,코스닥
3,HK0000307485,900290,GRT,GRT,FS,0,코스닥
4,HK0000312568,900300,오가닉티코스메틱,ORGANIC TEA COSMETICS,FS,91,코스닥
...,...,...,...,...,...,...,...
"3,755",KYG2114A1094,900120,씨케이에이치,CKH,FS,0,코스닥
"3,756",KYG2115T1076,900250,크리스탈신소재,Crystal New Material,FS,0,코스닥
"3,757",KYG3931T1076,900070,글로벌에스엠,GSMT,FS,0,코스닥
"3,758",KYG5307W1015,900140,엘브이엠씨홀딩스,LVMC Holdings,FS,0,유가증권
"3,759",USU652221081,900100,애머릿지,Ameridge,FS,0,코스닥

종목이름으로 검색하려면 `search_symbol_stock()` 함수를 사용합니다.

In [3]:
kq.symbol_search_stock("한국").head(5)

,ISIN,SYMBOL,NAME,NAME_EN,SEC_TYPE,ADMIN_ISSUE,MARKET
0,KR7000240002,000240,한국앤컴퍼니,HANKOOK & COMPANY,ST,0,유가증권
1,KR7000970004,000970,한국주철관,KorCastIronPipe,ST,0,유가증권
2,KR7002200004,002200,한국수출포장,KorExptPkgInd,ST,0,유가증권
3,KR7002960003,002960,한국쉘석유,HankookShellOil,ST,0,유가증권
4,KR7003350006,003350,한국화장품제조,HKCManufacture,ST,0,유가증권

## 3.3 일간 주가정보

원하는 종목의 종목코드를 확인한 다음에는 주가 등의 시장정보를 받을 수 있습니다.
  
일간 주가정보를 받기 위해서는 `daily_stock()` 함수를 사용합니다. `daily_stock()` 함수에 대한 자세한 정보는 `kquant` 패키지 [API 참조문서](../apiref/data/market/daily/daily_stock.html){target="_blank"}를 참조하세요.
   
첫번째 `symbol` 인수로는 해당 종목의 단축코드 문자열을 입력합니다. 예를 들어 삼성전자의 일간 주가정보를 얻기 위해서는 `"005930"`을 넣어줍니다.

두번째 `start_date` 인수로는 시장정보를 받을 기간의 시작날짜 문자열을 `YYYYMMDD` 형식으로 입력합니다. 예를 들어 2023년 1월 1일은 `"20230101"`과 같이 넣어줍니다.

세번째 `end_date` 인수로는 시장정보를 받을 기간의 종료날짜 문자열을 `YYYYMMDD` 형식으로 입력합니다. 예를 들어 2023년 6월 30일은 `"20230630"`과 같이 넣어줍니다.

In [4]:
df = kq.daily_stock("005930", "20230101", "20230630")
df

,DATE,SYMBOL,OPEN,HIGH,LOW,CLOSE,VOLUME,AMOUNT,CHG,CHG_PCT,CHG_TYPE,EX_EVENT,OPEN_NOTADJ,HIGH_NOTADJ,LOW_NOTADJ,CLOSE_NOTADJ,CHG_NOTADJ,CHG_PCT_NOTADJ,CHG_TYPE_NOTADJ,MARKETCAP,SHARES
0,2023-01-02,005930,"55,500","56,100","55,200","55,500","10,031,448","558,433,491,400",200,0.3600,2,00,"55,500","56,100","55,200","55,500",200,0.3600,2,"331,322,931,525,000","5,969,782,550"
1,2023-01-03,005930,"55,400","56,000","54,500","55,400","13,547,030","747,898,872,200",-100,-0.1800,5,00,"55,400","56,000","54,500","55,400",-100,-0.1800,5,"330,725,953,270,000","5,969,782,550"
2,2023-01-04,005930,"55,700","58,000","55,600","57,800","20,188,071","1,151,473,733,800","2,400",4.3300,2,00,"55,700","58,000","55,600","57,800","2,400",4.3300,2,"345,053,431,390,000","5,969,782,550"
3,2023-01-05,005930,"58,200","58,800","57,600","58,200","15,682,826","911,973,904,900",400,0.6900,2,00,"58,200","58,800","57,600","58,200",400,0.6900,2,"347,441,344,410,000","5,969,782,550"
4,2023-01-06,005930,"58,300","59,400","57,900","59,000","17,334,989","1,018,769,177,900",800,1.3700,2,00,"58,300","59,400","57,900","59,000",800,1.3700,2,"352,217,170,450,000","5,969,782,550"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,2023-06-26,005930,"71,700","72,500","71,500","72,400","10,541,901","761,525,382,100",800,1.1200,2,00,"71,700","72,500","71,500","72,400",800,1.1200,2,"432,212,256,620,000","5,969,782,550"
119,2023-06-27,005930,"72,500","72,600","72,000","72,600","9,442,997","683,624,715,982",200,0.2800,2,00,"72,500","72,600","72,000","72,600",200,0.2800,2,"433,406,213,130,000","5,969,782,550"
120,2023-06-28,005930,"72,600","72,700","72,000","72,700","8,783,093","635,516,679,700",100,0.1400,2,00,"72,600","72,700","72,000","72,700",100,0.1400,2,"434,003,191,385,000","5,969,782,550"
121,2023-06-29,005930,"73,100","73,400","72,400","72,400","12,229,967","891,731,369,446",-300,-0.4100,5,00,"73,100","73,400","72,400","72,400",-300,-0.4100,5,"432,212,256,620,000","5,969,782,550"
122,2023-06-30,005930,"72,500","72,700","71,700","72,200","11,694,765","844,353,820,176",-200,-0.2800,5,00,"72,500","72,700","71,700","72,200",-200,-0.2800,5,"431,018,300,110,000","5,969,782,550"

`end_date` 인수를 생략하면 함수를 실행한 당일을 `end_date` 인수값으로 가정하여 실시간 최종 가격을 출력합니다. 
예를 들어 2023년 7월 18일 장종료후  `end_date` 인수를 생략하고 `daily_stock()` 함수를 실행한 결과는 다음과 같습니다.

In [5]:
kq.daily_stock("005930", "20230101")

,DATE,SYMBOL,OPEN,HIGH,LOW,CLOSE,VOLUME,AMOUNT,CHG,CHG_PCT,CHG_TYPE,EX_EVENT,OPEN_NOTADJ,HIGH_NOTADJ,LOW_NOTADJ,CLOSE_NOTADJ,CHG_NOTADJ,CHG_PCT_NOTADJ,CHG_TYPE_NOTADJ,MARKETCAP,SHARES
0,2023-01-02,005930,"55,500","56,100","55,200","55,500","10,031,448","558,433,491,400",200,0.3600,2,00,"55,500","56,100","55,200","55,500",200,0.3600,2,"331,322,931,525,000","5,969,782,550"
1,2023-01-03,005930,"55,400","56,000","54,500","55,400","13,547,030","747,898,872,200",-100,-0.1800,5,00,"55,400","56,000","54,500","55,400",-100,-0.1800,5,"330,725,953,270,000","5,969,782,550"
2,2023-01-04,005930,"55,700","58,000","55,600","57,800","20,188,071","1,151,473,733,800","2,400",4.3300,2,00,"55,700","58,000","55,600","57,800","2,400",4.3300,2,"345,053,431,390,000","5,969,782,550"
3,2023-01-05,005930,"58,200","58,800","57,600","58,200","15,682,826","911,973,904,900",400,0.6900,2,00,"58,200","58,800","57,600","58,200",400,0.6900,2,"347,441,344,410,000","5,969,782,550"
4,2023-01-06,005930,"58,300","59,400","57,900","59,000","17,334,989","1,018,769,177,900",800,1.3700,2,00,"58,300","59,400","57,900","59,000",800,1.3700,2,"352,217,170,450,000","5,969,782,550"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,2023-08-11,005930,"68,400","68,800","67,500","67,500","9,781,038","664,312,604,900",-500,-0.7400,5,00,"68,400","68,800","67,500","67,500",-500,-0.7400,5,"402,960,322,125,000","5,969,782,550"
153,2023-08-14,005930,"67,500","67,900","66,900","67,300","9,352,343","629,306,269,500",-200,-0.3000,5,00,"67,500","67,900","66,900","67,300",-200,-0.3000,5,"401,766,365,615,000","5,969,782,550"
154,2023-08-16,005930,"66,700","67,100","66,300","67,000","13,174,578","879,111,210,400",-300,-0.4500,5,00,"66,700","67,100","66,300","67,000",-300,-0.4500,5,"399,975,430,850,000","5,969,782,550"
155,2023-08-17,005930,"66,300","66,800","66,000","66,700","10,778,652","716,095,782,444",-300,-0.4500,5,00,"66,300","66,800","66,000","66,700",-300,-0.4500,5,"398,184,496,085,000","5,969,782,550"
156,2023-08-18,005930,"66,000","66,700","65,800","66,300","11,651,964","772,367,211,600",-400,-0.6000,5,00,"66,000","66,700","65,800","66,300",-400,-0.6000,5,"395,796,583,065,000","5,969,782,550"

`start_date` 인수를 생략하면 `end_date` 인수값으로 지정된 날짜의 1년 전을 가정하여 정보를 출력합니다. 
`start_date` 인수와 `end_date` 인수를 모두 생략하면 함수를 호출한 날로부터 1년전부터 당일까지의 정보를 출력합니다.

In [6]:
kq.daily_stock("005930")

,DATE,SYMBOL,OPEN,HIGH,LOW,CLOSE,VOLUME,AMOUNT,CHG,CHG_PCT,CHG_TYPE,EX_EVENT,OPEN_NOTADJ,HIGH_NOTADJ,LOW_NOTADJ,CLOSE_NOTADJ,CHG_NOTADJ,CHG_PCT_NOTADJ,CHG_TYPE_NOTADJ,MARKETCAP,SHARES
0,2022-08-18,005930,"60,300","61,900","60,000","61,500","16,372,754","997,986,949,000","1,100",1.8200,2,00,"60,300","61,900","60,000","61,500","1,100",1.8200,2,"367,141,626,825,000","5,969,782,550"
1,2022-08-19,005930,"61,400","61,600","60,600","60,900","6,923,679","421,908,759,900",-600,-0.9800,5,00,"61,400","61,600","60,600","60,900",-600,-0.9800,5,"363,559,757,295,000","5,969,782,550"
2,2022-08-22,005930,"60,300","60,400","59,800","60,000","8,259,865","495,732,266,100",-900,-1.4800,5,00,"60,300","60,400","59,800","60,000",-900,-1.4800,5,"358,186,953,000,000","5,969,782,550"
3,2022-08-23,005930,"59,000","59,600","59,000","59,100","9,041,629","535,657,353,300",-900,-1.5000,5,00,"59,000","59,600","59,000","59,100",-900,-1.5000,5,"352,814,148,705,000","5,969,782,550"
4,2022-08-24,005930,"59,200","59,500","59,000","59,000","8,888,486","525,406,965,200",-100,-0.1700,5,00,"59,200","59,500","59,000","59,000",-100,-0.1700,5,"352,217,170,450,000","5,969,782,550"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244,2023-08-11,005930,"68,400","68,800","67,500","67,500","9,781,038","664,312,604,900",-500,-0.7400,5,00,"68,400","68,800","67,500","67,500",-500,-0.7400,5,"402,960,322,125,000","5,969,782,550"
245,2023-08-14,005930,"67,500","67,900","66,900","67,300","9,352,343","629,306,269,500",-200,-0.3000,5,00,"67,500","67,900","66,900","67,300",-200,-0.3000,5,"401,766,365,615,000","5,969,782,550"
246,2023-08-16,005930,"66,700","67,100","66,300","67,000","13,174,578","879,111,210,400",-300,-0.4500,5,00,"66,700","67,100","66,300","67,000",-300,-0.4500,5,"399,975,430,850,000","5,969,782,550"
247,2023-08-17,005930,"66,300","66,800","66,000","66,700","10,778,652","716,095,782,444",-300,-0.4500,5,00,"66,300","66,800","66,000","66,700",-300,-0.4500,5,"398,184,496,085,000","5,969,782,550"
248,2023-08-18,005930,"66,000","66,700","65,800","66,300","11,651,964","772,367,211,600",-400,-0.6000,5,00,"66,000","66,700","65,800","66,300",-400,-0.6000,5,"395,796,583,065,000","5,969,782,550"

## 3.4 일중 주가정보

`intra_stock()` 함수는 호출 당일의 10초 또는 1분 간격 일중정보를 제공합니다.

시간 간격은 `interval` 인수의 값으로 설정하며 `"10S"`는 10초, `"10S"`는 1분 간격입니다.
`interval` 인수의 값을 생략하면 1분으로 가정합니다.

10초 정보의 경우 거래소 상황에 따라 원 데이터 자체에 일부 데이터 누락이 있을 수 있습니다.

In [7]:
# 1분 간격 일중정보
kq.intra_stock("005930")

,DATETIME,DATE,TIME,SYMBOL,OPEN,HIGH,LOW,CLOSE,VOLUME,AMOUNT,VOLUME_ACC,AMOUNT_ACC,CHG,CHG_PCT,CHG_TYPE
1,2023-08-18 09:00:00,2023-08-18,09:00:00,005930,"66,000.0000","66,100.0000","65,900.0000","66,000.0000","330,019","21,780,454,500","330,019.0000","21,780,454,500.0000",-700.0000,-1.0500,5.0000
2,2023-08-18 09:01:00,2023-08-18,09:01:00,005930,"66,000.0000","66,000.0000","65,800.0000","65,800.0000","102,406","6,747,133,600","432,425.0000","28,527,588,100.0000",-900.0000,-1.3500,5.0000
3,2023-08-18 09:02:00,2023-08-18,09:02:00,005930,"65,900.0000","66,000.0000","65,800.0000","66,000.0000","79,877","5,262,911,100","512,302.0000","33,790,499,200.0000",-700.0000,-1.0500,5.0000
4,2023-08-18 09:03:00,2023-08-18,09:03:00,005930,"66,000.0000","66,100.0000","65,900.0000","66,000.0000","168,356","11,109,292,300","680,658.0000","44,899,791,500.0000",-700.0000,-1.0500,5.0000
5,2023-08-18 09:04:00,2023-08-18,09:04:00,005930,"66,000.0000","66,000.0000","65,900.0000","65,900.0000","35,749","2,358,278,600","716,407.0000","47,258,070,100.0000",-800.0000,-1.2000,5.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
386,2023-08-18 15:25:00,NaT,15:25:00,<NA>,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
387,2023-08-18 15:26:00,NaT,15:26:00,<NA>,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
388,2023-08-18 15:27:00,NaT,15:27:00,<NA>,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
389,2023-08-18 15:28:00,NaT,15:28:00,<NA>,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
390,2023-08-18 15:29:00,2023-08-18,15:29:00,005930,"66,300.0000","66,300.0000","66,300.0000","66,300.0000","1,349,643","89,481,330,900","11,599,339.0000","768,877,805,600.0000",-400.0000,-0.6000,5.0000

In [8]:
# 10초 간격 일중정보
kq.intra_stock("005930", "10S")

,DATETIME,DATE,TIME,SYMBOL,OPEN,HIGH,LOW,CLOSE,VOLUME,AMOUNT,VOLUME_ACC,AMOUNT_ACC,CHG,CHG_PCT,CHG_TYPE
0,2023-08-18 09:00:00,2023-08-18,09:00:00,005930,"66,700","66,700","66,700","66,700",0,0,0,0,0,0.0000,0
1,2023-08-18 09:00:10,2023-08-18,09:00:10,005930,"66,000","66,100","65,900","66,000","292,758","19,323,200,600","292,758","19,323,200,600",-700,-1.0500,5
2,2023-08-18 09:00:20,2023-08-18,09:00:20,005930,"66,000","66,000","65,900","65,900","8,278","546,159,100","301,036","19,869,359,700",-800,-1.2000,5
3,2023-08-18 09:00:30,2023-08-18,09:00:30,005930,"66,000","66,000","65,900","66,000","4,487","296,015,700","305,523","20,165,375,400",-700,-1.0500,5
4,2023-08-18 09:00:40,2023-08-18,09:00:40,005930,"66,000","66,000","65,900","66,000","8,346","550,243,100","313,869","20,715,618,500",-700,-1.0500,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"2,277",2023-08-18 15:19:30,2023-08-18,15:19:30,005930,"66,400","66,500","66,400","66,500","4,937","328,102,800","10,198,337","675,981,464,500",-200,-0.3000,5
"2,278",2023-08-18 15:19:40,2023-08-18,15:19:40,005930,"66,500","66,500","66,400","66,500","12,570","835,704,900","10,210,907","676,817,169,400",-200,-0.3000,5
"2,279",2023-08-18 15:19:50,2023-08-18,15:19:50,005930,"66,500","66,500","66,400","66,500","31,632","2,103,478,400","10,242,539","678,920,647,800",-200,-0.3000,5
"2,280",2023-08-18 15:20:00,2023-08-18,15:20:00,005930,"66,500","66,500","66,400","66,500","7,157","475,826,900","10,249,696","679,396,474,700",-200,-0.3000,5
"2,281",2023-08-18 15:30:00,2023-08-18,15:30:00,005930,"66,300","66,300","66,300","66,300","1,349,643","89,481,330,900","11,599,339","768,877,805,600",-400,-0.6000,5