# 튜토리얼 3 - 주가 정보 입수

튜토리얼 2에서 CHECK-API 정보를 정상적으로 설정하였다면 본 튜토리얼에서 설명하는 대로 주가 정보를 입수할 수 있습니다.

## 3.1 `kquant` 패키지 임포트

`kquant` 패키지를 임포트 합니다. 본 튜토리얼에서는 `kq`라는 별칭(alias)을 사용합니다.

In [1]:
import kquant as kq

## 3.2 주식 ISIN 코드와 단축코드

주식 등 금융상품에 대한 정보를 입수하기 위해서는 종목코드라고 부르는 해당 상품의 코드(code) 혹은 심볼(symbol)정보를 알고 있어야 합니다. 

국내의 금융상품 코드는 공식적으로 12자리 영문자 및 숫자로 구성된 **국제증권식별번호**(ISIN: International Securities Identification Number)를 사용합니다. 예를 들어 삼성전자의 ISIN 코드는 `KR7005930003`입니다. 그러나 ISIN 코드는 12자리고 실무에서 사용하기에는 너무 길기 때문에 주식종목에 한하여 ISIN 코드 중 4번째 자리수부터 9번째 자리수까지의 6자리만을 사용하는 이른바 **"단축코드"**를 더 많이 사용합니다. 예를 들어 삼성전자의 단축코드는 `005930`입니다.

`kquant` 패키지에서는 모든 금융상품에 대한 종목코드 정보를 제공합니다. 주식의 경우 `symbol_stock()` 함수를 사용하여 모든 주식의 종목코드 정보를 받을 수 있습니다. `symbol_stock()` 함수에 대한 자세한 정보는 `kquant` 패키지 [API 참조문서](../apiref/kquant/data/market/symbol/symbol_stock.html){target="_blank"}를 참조하세요.

`symbol_stock()` 함수를 포함한 대부분의  `kquant` 패키지 함수는 Pandas 데이터프레임(DataFrame) 형식으로 정보를 반환합니다. Pandas 패키지에 대해서는 해당 패키지의 웹사이트([https://pandas.pydata.org/](https://pandas.pydata.org/){target="_blank})를 참조하세요.

In [2]:
df_symbols = kq.symbol_stock()
df_symbols

,ISIN,SYMBOL,NAME,NAME_EN,SEC_TYPE,ADMIN_ISSUE,MARKET
0,HK0000057197,900110,이스트아시아홀딩스,East Asia Holdings,FS,0,코스닥
1,HK0000214814,900270,헝셩그룹,HENG SHENG GROUP,FS,0,코스닥
2,HK0000295359,900260,로스웰,Rothwell,FS,0,코스닥
3,HK0000307485,900290,GRT,GRT,FS,0,코스닥
4,HK0000312568,900300,오가닉티코스메틱,ORGANIC TEA COSMETICS,FS,91,코스닥
...,...,...,...,...,...,...,...
"3,836",KYG2114A1094,900120,씨엑스아이,CXI,FS,0,코스닥
"3,837",KYG2115T1076,900250,크리스탈신소재,Crystal New Material,FS,0,코스닥
"3,838",KYG3931T1076,900070,글로벌에스엠,GSMT,FS,0,코스닥
"3,839",KYG5307W1015,900140,엘브이엠씨홀딩스,LVMC Holdings,FS,0,유가증권
"3,840",USU652221081,900100,애머릿지,Ameridge,FS,0,코스닥

종목이름으로 검색하려면 `search_symbol_stock()` 함수를 사용합니다.

In [3]:
kq.symbol_search_stock("한국").head(5)

,ISIN,SYMBOL,NAME,NAME_EN,SEC_TYPE,ADMIN_ISSUE,MARKET
0,KR7000240002,000240,한국앤컴퍼니,HANKOOK & COMPANY,ST,0,유가증권
1,KR7000970004,000970,한국주철관,KorCastIronPipe,ST,0,유가증권
2,KR7002200004,002200,한국수출포장,KorExptPkgInd,ST,0,유가증권
3,KR7002960003,002960,한국쉘석유,HankookShellOil,ST,0,유가증권
4,KR7003350006,003350,한국화장품제조,HKCManufacture,ST,0,유가증권

## 3.3 일간 주가정보

원하는 종목의 종목코드를 확인한 다음에는 주가 등의 시장정보를 받을 수 있습니다.
  
일간 주가정보를 받기 위해서는 `daily_stock()` 함수를 사용합니다. `daily_stock()` 함수에 대한 자세한 정보는 `kquant` 패키지 [API 참조문서](../apiref/data/market/daily/daily_stock.html){target="_blank"}를 참조하세요.
   
첫번째 `symbol` 인수로는 해당 종목의 단축코드 문자열을 입력합니다. 예를 들어 삼성전자의 일간 주가정보를 얻기 위해서는 `"005930"`을 넣어줍니다.

두번째 `start_date` 인수로는 시장정보를 받을 기간의 시작날짜 문자열을 `YYYYMMDD` 형식으로 입력합니다. 예를 들어 2023년 1월 1일은 `"20230101"`과 같이 넣어줍니다.

세번째 `end_date` 인수로는 시장정보를 받을 기간의 종료날짜 문자열을 `YYYYMMDD` 형식으로 입력합니다. 예를 들어 2023년 6월 30일은 `"20230630"`과 같이 넣어줍니다.

In [4]:
df = kq.daily_stock("005930", "20230101", "20230630")
df

,DATE,SYMBOL,OPEN,HIGH,LOW,CLOSE,VOLUME,AMOUNT,CHG,CHG_PCT,CHG_TYPE,EX_EVENT,OPEN_NOTADJ,HIGH_NOTADJ,LOW_NOTADJ,CLOSE_NOTADJ,CHG_NOTADJ,CHG_PCT_NOTADJ,CHG_TYPE_NOTADJ,MARKETCAP,SHARES
0,2023-01-02,005930,"55,500","56,100","55,200","55,500","10,031,448","558,433,491,400",200,0.3600,2,00,"55,500","56,100","55,200","55,500",200,0.3600,2,"331,322,931,525,000","5,969,782,550"
1,2023-01-03,005930,"55,400","56,000","54,500","55,400","13,547,030","747,898,872,200",-100,-0.1800,5,00,"55,400","56,000","54,500","55,400",-100,-0.1800,5,"330,725,953,270,000","5,969,782,550"
2,2023-01-04,005930,"55,700","58,000","55,600","57,800","20,188,071","1,151,473,733,800","2,400",4.3300,2,00,"55,700","58,000","55,600","57,800","2,400",4.3300,2,"345,053,431,390,000","5,969,782,550"
3,2023-01-05,005930,"58,200","58,800","57,600","58,200","15,682,826","911,973,904,900",400,0.6900,2,00,"58,200","58,800","57,600","58,200",400,0.6900,2,"347,441,344,410,000","5,969,782,550"
4,2023-01-06,005930,"58,300","59,400","57,900","59,000","17,334,989","1,018,769,177,900",800,1.3700,2,00,"58,300","59,400","57,900","59,000",800,1.3700,2,"352,217,170,450,000","5,969,782,550"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,2023-06-26,005930,"71,700","72,500","71,500","72,400","10,541,901","761,525,382,100",800,1.1200,2,00,"71,700","72,500","71,500","72,400",800,1.1200,2,"432,212,256,620,000","5,969,782,550"
119,2023-06-27,005930,"72,500","72,600","72,000","72,600","9,442,997","683,624,715,982",200,0.2800,2,00,"72,500","72,600","72,000","72,600",200,0.2800,2,"433,406,213,130,000","5,969,782,550"
120,2023-06-28,005930,"72,600","72,700","72,000","72,700","8,783,093","635,516,679,700",100,0.1400,2,00,"72,600","72,700","72,000","72,700",100,0.1400,2,"434,003,191,385,000","5,969,782,550"
121,2023-06-29,005930,"73,100","73,400","72,400","72,400","12,229,967","891,731,369,446",-300,-0.4100,5,00,"73,100","73,400","72,400","72,400",-300,-0.4100,5,"432,212,256,620,000","5,969,782,550"
122,2023-06-30,005930,"72,500","72,700","71,700","72,200","11,694,765","844,353,820,176",-200,-0.2800,5,00,"72,500","72,700","71,700","72,200",-200,-0.2800,5,"431,018,300,110,000","5,969,782,550"

`end_date` 인수를 생략하면 함수를 실행한 당일을 `end_date` 인수값으로 가정하여 실시간 최종 가격을 출력합니다. 
예를 들어 2023년 7월 18일 장종료후  `end_date` 인수를 생략하고 `daily_stock()` 함수를 실행한 결과는 다음과 같습니다.

In [5]:
kq.daily_stock("005930", "20230101")

,DATE,SYMBOL,OPEN,HIGH,LOW,CLOSE,VOLUME,AMOUNT,CHG,CHG_PCT,CHG_TYPE,EX_EVENT,OPEN_NOTADJ,HIGH_NOTADJ,LOW_NOTADJ,CLOSE_NOTADJ,CHG_NOTADJ,CHG_PCT_NOTADJ,CHG_TYPE_NOTADJ,MARKETCAP,SHARES
0,2023-01-02,005930,"55,500","56,100","55,200","55,500","10,031,448","558,433,491,400",200,0.3600,2,00,"55,500","56,100","55,200","55,500",200,0.3600,2,"331,322,931,525,000","5,969,782,550"
1,2023-01-03,005930,"55,400","56,000","54,500","55,400","13,547,030","747,898,872,200",-100,-0.1800,5,00,"55,400","56,000","54,500","55,400",-100,-0.1800,5,"330,725,953,270,000","5,969,782,550"
2,2023-01-04,005930,"55,700","58,000","55,600","57,800","20,188,071","1,151,473,733,800","2,400",4.3300,2,00,"55,700","58,000","55,600","57,800","2,400",4.3300,2,"345,053,431,390,000","5,969,782,550"
3,2023-01-05,005930,"58,200","58,800","57,600","58,200","15,682,826","911,973,904,900",400,0.6900,2,00,"58,200","58,800","57,600","58,200",400,0.6900,2,"347,441,344,410,000","5,969,782,550"
4,2023-01-06,005930,"58,300","59,400","57,900","59,000","17,334,989","1,018,769,177,900",800,1.3700,2,00,"58,300","59,400","57,900","59,000",800,1.3700,2,"352,217,170,450,000","5,969,782,550"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219,2023-11-22,005930,"72,200","73,000","71,900","72,800","11,105,143","803,720,395,300",0,0.0000,3,00,"72,200","73,000","71,900","72,800",0,0.0000,3,"434,600,169,640,000","5,969,782,550"
220,2023-11-23,005930,"73,000","73,200","72,200","72,400","6,775,614","491,571,923,100",-400,-0.5500,5,00,"73,000","73,200","72,200","72,400",-400,-0.5500,5,"432,212,256,620,000","5,969,782,550"
221,2023-11-24,005930,"72,400","72,600","71,700","71,700","6,676,685","481,177,295,325",-700,-0.9700,5,00,"72,400","72,600","71,700","71,700",-700,-0.9700,5,"428,033,408,835,000","5,969,782,550"
222,2023-11-27,005930,"71,500","72,100","71,100","71,300","9,113,857","651,549,770,446",-400,-0.5600,5,00,"71,500","72,100","71,100","71,300",-400,-0.5600,5,"425,645,495,815,000","5,969,782,550"
223,2023-11-28,005930,"71,400","72,300","71,300","72,200","5,481,101","393,394,235,300",900,1.2600,2,00,"71,400","72,300","71,300","72,200",900,1.2600,2,"431,018,300,110,000","5,969,782,550"

`start_date` 인수를 생략하면 `end_date` 인수값으로 지정된 날짜의 1년 전을 가정하여 정보를 출력합니다. 
`start_date` 인수와 `end_date` 인수를 모두 생략하면 함수를 호출한 날로부터 1년전부터 당일까지의 정보를 출력합니다.

In [6]:
kq.daily_stock("005930")

,DATE,SYMBOL,OPEN,HIGH,LOW,CLOSE,VOLUME,AMOUNT,CHG,CHG_PCT,CHG_TYPE,EX_EVENT,OPEN_NOTADJ,HIGH_NOTADJ,LOW_NOTADJ,CLOSE_NOTADJ,CHG_NOTADJ,CHG_PCT_NOTADJ,CHG_TYPE_NOTADJ,MARKETCAP,SHARES
0,2022-11-28,005930,"60,500","60,500","59,800","60,100","8,589,032","515,486,605,100",-900,-1.4800,5,00,"60,500","60,500","59,800","60,100",-900,-1.4800,5,"358,783,931,255,000","5,969,782,550"
1,2022-11-29,005930,"59,900","60,600","59,800","60,600","7,014,160","422,226,001,673",500,0.8300,2,00,"59,900","60,600","59,800","60,600",500,0.8300,2,"361,768,822,530,000","5,969,782,550"
2,2022-11-30,005930,"60,400","62,200","60,200","62,200","19,768,903","1,218,354,958,444","1,600",2.6400,2,00,"60,400","62,200","60,200","62,200","1,600",2.6400,2,"371,320,474,610,000","5,969,782,550"
3,2022-12-01,005930,"63,100","63,200","62,300","62,600","16,631,445","1,044,546,161,950",400,0.6400,2,00,"63,100","63,200","62,300","62,600",400,0.6400,2,"373,708,387,630,000","5,969,782,550"
4,2022-12-02,005930,"62,500","62,500","60,400","60,400","15,331,184","935,960,853,120","-2,200",-3.5100,5,00,"62,500","62,500","60,400","60,400","-2,200",-3.5100,5,"360,574,866,020,000","5,969,782,550"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243,2023-11-22,005930,"72,200","73,000","71,900","72,800","11,105,143","803,720,395,300",0,0.0000,3,00,"72,200","73,000","71,900","72,800",0,0.0000,3,"434,600,169,640,000","5,969,782,550"
244,2023-11-23,005930,"73,000","73,200","72,200","72,400","6,775,614","491,571,923,100",-400,-0.5500,5,00,"73,000","73,200","72,200","72,400",-400,-0.5500,5,"432,212,256,620,000","5,969,782,550"
245,2023-11-24,005930,"72,400","72,600","71,700","71,700","6,676,685","481,177,295,325",-700,-0.9700,5,00,"72,400","72,600","71,700","71,700",-700,-0.9700,5,"428,033,408,835,000","5,969,782,550"
246,2023-11-27,005930,"71,500","72,100","71,100","71,300","9,113,857","651,549,770,446",-400,-0.5600,5,00,"71,500","72,100","71,100","71,300",-400,-0.5600,5,"425,645,495,815,000","5,969,782,550"
247,2023-11-28,005930,"71,400","72,300","71,300","72,200","5,481,101","393,394,235,300",900,1.2600,2,00,"71,400","72,300","71,300","72,200",900,1.2600,2,"431,018,300,110,000","5,969,782,550"

## 3.4 일중 주가정보

`intra_stock()` 함수는 1분 간격 일중정보를 제공하며 다음과 같은 인수를 받습니다.

- `symbol`: 조회 대상 종목의 단축코드
- `date`: 조회 대상 날짜
- `interval`: 시간간격


호출 당일의 데이터를 조회하는 경우에는 날짜 인수를 생략할 수 있습니다.
시간 간격은 인수값이 `"1M"`인 경우 1분 간격, 인수값이 `"10S"`는 10초입니다.
다만 10초 간격 데이터는 호출 당일에 대해서만 가능하며 
과거 일자에 대해서는 1분 간격 데이터만 제공합니다.
`interval` 인수값을 생략하면 1분으로 가정합니다.

또한 10초 정보의 경우 거래소 상황에 따라 원 데이터 자체에 일부 데이터 누락이 있을 수 있습니다.

In [7]:
# 1분 간격 일중정보
kq.intra_stock("005930", "2023-01-02")

,DATETIME,DATE,TIME,SYMBOL,OPEN,HIGH,LOW,CLOSE,VOLUME,AMOUNT,VOLUME_ACC,AMOUNT_ACC,CHG,CHG_PCT,CHG_TYPE
0,2023-01-02 10:00:00,2023-01-02,10:00:00,<NA>,"55,300","55,300","55,300","55,300",0,0,0,0,0,0.0000,0
1,2023-01-02 10:01:00,2023-01-02,10:01:00,<NA>,"55,500","55,900","55,500","55,900","685,739","38,129,122,200","685,739","38,129,122,200",600,1.0800,2
2,2023-01-02 10:02:00,2023-01-02,10:02:00,<NA>,"55,900","55,900","55,700","55,900","67,479","3,768,322,300","753,218","41,897,444,500",600,1.0800,2
3,2023-01-02 10:03:00,2023-01-02,10:03:00,<NA>,"55,900","55,900","55,700","55,800","101,593","5,666,974,500","854,811","47,564,419,000",500,0.9000,2
4,2023-01-02 10:04:00,2023-01-02,10:04:00,<NA>,"55,800","55,800","55,700","55,800","17,061","951,724,300","871,872","48,516,143,300",500,0.9000,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317,2023-01-02 15:17:00,2023-01-02,15:17:00,<NA>,"55,400","55,500","55,400","55,500","12,259","679,442,100","9,545,880","531,493,808,500",200,0.3600,2
318,2023-01-02 15:18:00,2023-01-02,15:18:00,<NA>,"55,500","55,500","55,400","55,500","13,929","772,007,800","9,559,809","532,265,816,300",200,0.3600,2
319,2023-01-02 15:19:00,2023-01-02,15:19:00,<NA>,"55,500","55,500","55,400","55,500","11,845","656,487,700","9,571,654","532,922,304,000",200,0.3600,2
320,2023-01-02 15:20:00,2023-01-02,15:20:00,<NA>,"55,500","55,500","55,400","55,400","34,074","1,889,173,600","9,605,728","534,811,477,600",100,0.1800,2
321,2023-01-02 15:30:00,2023-01-02,15:30:00,<NA>,"55,500","55,500","55,500","55,500","332,641","18,461,575,500","9,938,369","553,273,053,100",200,0.3600,2

## 3.5 전종목 주가정보 동시 조회

`rank_stocks` 함수는 함수 호출 당일의 전 종목의 주가정보를 동시에 조회하는 함수입니다.

In [8]:
kq.rank_stocks()

,SYMBOL,OPEN,HIGH,LOW,CLOSE,VOLUME,AMOUNT,PREV_CLOSE,CHG_PCT,CHG_TYPE,MARKETCAP,NAME,NAME_EN,SEC_TYPE,MARKET
0,005930,"71,400","72,300","71,300","72,300","5,481,102","393,394,307,600","71,300",1.4025,2,"431,615,278,365,000",삼성전자,SamsungElec,ST,유가증권
1,373220,"436,500","440,500","434,000","437,000","68,896","30,142,803,000","434,500",0.5754,2,"102,258,000,000,000",LG에너지솔루션,LG Energy Solution,ST,유가증권
2,000660,"132,100","132,100","129,900","131,600","1,091,182","142,887,463,200","130,700",0.6886,2,"95,805,111,234,000",SK하이닉스,SK hynix,ST,유가증권
3,207940,"712,000","713,000","705,000","711,000","20,323","14,411,351,000","703,000",1.1380,2,"50,604,714,000,000",삼성바이오로직스,SAMSUNG BIOLOGICS,ST,유가증권
4,005935,"57,300","57,700","57,100","57,600","308,668","17,710,335,900","57,000",1.0526,2,"47,398,273,920,000",삼성전자우,SamsungElec(1P),ST,유가증권
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"3,836",252000,"10,860","10,890","10,850","10,890",4,"43,465","10,845",0.4149,2,"1,633,500,000",TIGER 200동일가중,TIGER 200 EW,EF,유가증권
"3,837",287300,"13,200","13,255","13,195","13,255",307,"4,052,525","13,180",0.5690,2,"1,590,600,000",KBSTAR 200건설,KBSTAR 200 Cons,EF,유가증권
"3,838",315480,"11,070","11,105","11,070","11,105",2,"22,175","11,010",0.8629,2,"1,332,600,000",KBSTAR 200커뮤니케이션서비스,KBSTAR 200CS,EF,유가증권
"3,839",287330,"5,990","5,990","5,955","5,955",511,"3,058,135","5,965",-0.1676,5,"1,310,100,000",KBSTAR 200생활소비재,KBSTAR 200 Con&Sta,EF,유가증권
"3,840",287320,"11,215","11,235","11,215","11,235",2,"22,450","11,115",1.0796,2,"1,123,500,000",KBSTAR 200산업재,KBSTAR 200 Industrials,EF,유가증권

`rank_stocks` 함수는 기본적으로 시가총액 기준으로 정렬한 결과를 출력합니다. `order_key` 인수를 사용하여 다양한 기준으로 정렬할 수 있습니다.

In [9]:
kq.rank_stocks(order_key="VOLUME")

,SYMBOL,OPEN,HIGH,LOW,CLOSE,VOLUME,AMOUNT,PREV_CLOSE,CHG_PCT,CHG_TYPE,MARKETCAP,NAME,NAME_EN,SEC_TYPE,MARKET
0,252670,"2,565","2,575","2,535","2,540","71,178,591","182,156,116,595","2,585",-1.7408,5,"1,462,532,000,000",KODEX 200선물인버스2X,KODEX 200 Futures Inverse 2X,EF,유가증권
1,008700,"1,952","2,225","1,951","2,095","36,533,134","77,650,939,006","1,854",12.9989,2,"161,576,497,900",아남전자,AnamElec,ST,유가증권
2,251340,"3,925","3,940","3,880","3,890","25,010,625","97,672,149,295","3,950",-1.5190,5,"405,338,000,000",KODEX 코스닥150선물인버스,KODEX KOSDAQ150 INVERSE,EF,유가증권
3,215600,"6,450","7,090","6,120","6,810","24,294,908","161,532,959,550","5,590",21.8247,2,"700,525,121,250",신라젠,SillaJen,ST,코스닥
4,900110,130,131,121,124,"16,809,508","2,124,649,603",118,5.0847,2,"36,199,574,200",이스트아시아홀딩스,East Asia Holdings,FS,코스닥
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"3,836",610056,0,0,0,"20,150",0,0,"20,150",0.0000,0,"10,075,000,000",메리츠 인버스 3X 국채3년 ETN,MERITZ Inverse 3X KTB 3Y ETN,EN,유가증권
"3,837",610071,0,0,0,"9,920",0,0,"9,920",0.0000,0,"9,920,000,000",메리츠 KAP 중국 위안화 ETN,MERITZ KAP CNHKRW ETN,EN,유가증권
"3,838",700022,0,0,0,"15,765",0,0,"15,765",0.0000,0,"31,530,000,000",하나 Solactive US Tech Top 10 ETN(H),Hana Solactive US Tech Top 10 ETN(H),EN,유가증권
"3,839",700009,0,0,0,"13,220",0,0,"13,220",0.0000,0,"13,220,000,000",하나 레버리지 구리 선물 ETN(H),Hana Leverage Copper Futures ETN(H),EN,유가증권
"3,840",089530,0,0,0,600,0,0,600,0.0000,0,"43,367,041,800",에이티세미콘,AT semicon,ST,코스닥