# 튜토리얼 3 - 주가 정보 입수

튜토리얼 2에서 CHECK-API 정보를 정상적으로 설정하였다면 본 튜토리얼에서 설명하는 대로 주가 정보를 입수할 수 있습니다.

## 3.1 `kquant` 패키지 임포트

`kquant` 패키지를 임포트 합니다. 본 튜토리얼에서는 `kq`라는 별칭(alias)을 사용합니다.

In [1]:
import kquant as kq

## 3.2 주식 ISIN 코드와 단축코드

주식 등 금융상품에 대한 정보를 입수하기 위해서는 종목코드라고 부르는 해당 상품의 코드(code) 혹은 심볼(symbol)정보를 알고 있어야 합니다. 

국내의 금융상품 코드는 공식적으로 12자리 영문자 및 숫자로 구성된 **국제증권식별번호**(ISIN: International Securities Identification Number)를 사용합니다. 예를 들어 삼성전자의 ISIN 코드는 `KR7005930003`입니다. 그러나 ISIN 코드는 12자리고 실무에서 사용하기에는 너무 길기 때문에 주식종목에 한하여 ISIN 코드 중 4번째 자리수부터 9번째 자리수까지의 6자리만을 사용하는 이른바 **"단축코드"**를 더 많이 사용합니다. 예를 들어 삼성전자의 단축코드는 `005930`입니다.

`kquant` 패키지에서는 모든 금융상품에 대한 종목코드 정보를 제공합니다. 주식의 경우 `symbol_stock()` 함수를 사용하여 모든 주식의 종목코드 정보를 받을 수 있습니다. `symbol_stock()` 함수에 대한 자세한 정보는 `kquant` 패키지 [API 참조문서](../apiref/kquant/data/market/symbol/symbol_stock.html){target="_blank"}를 참조하세요.

`symbol_stock()` 함수를 포함한 대부분의  `kquant` 패키지 함수는 Pandas 데이터프레임(DataFrame) 형식으로 정보를 반환합니다. Pandas 패키지에 대해서는 해당 패키지의 웹사이트([https://pandas.pydata.org/](https://pandas.pydata.org/){target="_blank})를 참조하세요.

In [2]:
df_symbols = kq.symbol_stock()
df_symbols

,ISIN,SYMBOL,NAME,NAME_EN,SEC_TYPE,ADMIN_ISSUE,MARKET
0,HK0000057197,900110,이스트아시아홀딩스,East Asia Holdings,FS,0,코스닥
1,HK0000214814,900270,헝셩그룹,HENG SHENG GROUP,FS,0,코스닥
2,HK0000295359,900260,로스웰,Rothwell,FS,0,코스닥
3,HK0000307485,900290,GRT,GRT,FS,0,코스닥
4,HK0000312568,900300,오가닉티코스메틱,ORGANIC TEA COSMETICS,FS,91,코스닥
...,...,...,...,...,...,...,...
"3,753",KYG2114A1094,900120,씨케이에이치,CKH,FS,0,코스닥
"3,754",KYG2115T1076,900250,크리스탈신소재,Crystal New Material,FS,0,코스닥
"3,755",KYG3931T1076,900070,글로벌에스엠,GSMT,FS,0,코스닥
"3,756",KYG5307W1015,900140,엘브이엠씨홀딩스,LVMC Holdings,FS,0,유가증권
"3,757",USU652221081,900100,애머릿지,Ameridge,FS,0,코스닥

종목이름으로 검색하려면 `search_symbol_stock()` 함수를 사용합니다.

In [3]:
kq.symbol_search_stock("한국").head(5)

,ISIN,SYMBOL,NAME,NAME_EN,SEC_TYPE,ADMIN_ISSUE,MARKET
0,KR7000240002,000240,한국앤컴퍼니,HANKOOK & COMPANY,ST,0,유가증권
1,KR7000970004,000970,한국주철관,KorCastIronPipe,ST,0,유가증권
2,KR7002200004,002200,한국수출포장,KorExptPkgInd,ST,0,유가증권
3,KR7002960003,002960,한국쉘석유,HankookShellOil,ST,0,유가증권
4,KR7003350006,003350,한국화장품제조,HKCManufacture,ST,0,유가증권

## 3.3 일간 주가정보

원하는 종목의 종목코드를 확인한 다음에는 주가 등의 시장정보를 받을 수 있습니다.
  
일간 주가정보를 받기 위해서는 `daily_stock()` 함수를 사용합니다. `daily_stock()` 함수에 대한 자세한 정보는 `kquant` 패키지 [API 참조문서](../apiref/data/market/daily/daily_stock.html){target="_blank"}를 참조하세요.
   
첫번째 `symbol` 인수로는 해당 종목의 단축코드 문자열을 입력합니다. 예를 들어 삼성전자의 일간 주가정보를 얻기 위해서는 `"005930"`을 넣어줍니다.

두번째 `start_date` 인수로는 시장정보를 받을 기간의 시작날짜 문자열을 `YYYYMMDD` 형식으로 입력합니다. 예를 들어 2023년 1월 1일은 `"20230101"`과 같이 넣어줍니다.

세번째 `end_date` 인수로는 시장정보를 받을 기간의 종료날짜 문자열을 `YYYYMMDD` 형식으로 입력합니다. 예를 들어 2023년 6월 30일은 `"20230630"`과 같이 넣어줍니다.

In [4]:
df = kq.daily_stock("005930", "20230101", "20230630")
df

,DATE,SYMBOL,OPEN,HIGH,LOW,CLOSE,VOLUME,AMOUNT,CHG,CHG_PCT,CHG_TYPE,EX_EVENT,OPEN_NOTADJ,HIGH_NOTADJ,LOW_NOTADJ,CLOSE_NOTADJ,CHG_NOTADJ,CHG_PCT_NOTADJ,CHG_TYPE_NOTADJ,MARKETCAP,SHARES
0,2023-01-02,005930,"55,500","56,100","55,200","55,500","10,031,448","558,433,491,400",200,0.3600,2,00,"55,500","56,100","55,200","55,500",200,0.3600,2,"331,322,931,525,000","5,969,782,550"
1,2023-01-03,005930,"55,400","56,000","54,500","55,400","13,547,030","747,898,872,200",-100,-0.1800,5,00,"55,400","56,000","54,500","55,400",-100,-0.1800,5,"330,725,953,270,000","5,969,782,550"
2,2023-01-04,005930,"55,700","58,000","55,600","57,800","20,188,071","1,151,473,733,800","2,400",4.3300,2,00,"55,700","58,000","55,600","57,800","2,400",4.3300,2,"345,053,431,390,000","5,969,782,550"
3,2023-01-05,005930,"58,200","58,800","57,600","58,200","15,682,826","911,973,904,900",400,0.6900,2,00,"58,200","58,800","57,600","58,200",400,0.6900,2,"347,441,344,410,000","5,969,782,550"
4,2023-01-06,005930,"58,300","59,400","57,900","59,000","17,334,989","1,018,769,177,900",800,1.3700,2,00,"58,300","59,400","57,900","59,000",800,1.3700,2,"352,217,170,450,000","5,969,782,550"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,2023-06-26,005930,"71,700","72,500","71,500","72,400","10,541,901","761,525,382,100",800,1.1200,2,00,"71,700","72,500","71,500","72,400",800,1.1200,2,"432,212,256,620,000","5,969,782,550"
119,2023-06-27,005930,"72,500","72,600","72,000","72,600","9,442,997","683,624,715,982",200,0.2800,2,00,"72,500","72,600","72,000","72,600",200,0.2800,2,"433,406,213,130,000","5,969,782,550"
120,2023-06-28,005930,"72,600","72,700","72,000","72,700","8,783,093","635,516,679,700",100,0.1400,2,00,"72,600","72,700","72,000","72,700",100,0.1400,2,"434,003,191,385,000","5,969,782,550"
121,2023-06-29,005930,"73,100","73,400","72,400","72,400","12,229,967","891,731,369,446",-300,-0.4100,5,00,"73,100","73,400","72,400","72,400",-300,-0.4100,5,"432,212,256,620,000","5,969,782,550"
122,2023-06-30,005930,"72,500","72,700","71,700","72,200","11,694,765","844,353,820,176",-200,-0.2800,5,00,"72,500","72,700","71,700","72,200",-200,-0.2800,5,"431,018,300,110,000","5,969,782,550"

`end_date` 인수를 생략하면 함수를 실행한 당일을 `end_date` 인수값으로 가정하여 실시간 최종 가격을 출력합니다. 
예를 들어 2023년 7월 18일 장종료후  `end_date` 인수를 생략하고 `daily_stock()` 함수를 실행한 결과는 다음과 같습니다.

In [5]:
kq.daily_stock("005930", "20230101")

,DATE,SYMBOL,OPEN,HIGH,LOW,CLOSE,VOLUME,AMOUNT,CHG,CHG_PCT,CHG_TYPE,EX_EVENT,OPEN_NOTADJ,HIGH_NOTADJ,LOW_NOTADJ,CLOSE_NOTADJ,CHG_NOTADJ,CHG_PCT_NOTADJ,CHG_TYPE_NOTADJ,MARKETCAP,SHARES
0,2023-01-02,005930,"55,500","56,100","55,200","55,500","10,031,448","558,433,491,400",200,0.3600,2,00,"55,500","56,100","55,200","55,500",200,0.3600,2,"331,322,931,525,000","5,969,782,550"
1,2023-01-03,005930,"55,400","56,000","54,500","55,400","13,547,030","747,898,872,200",-100,-0.1800,5,00,"55,400","56,000","54,500","55,400",-100,-0.1800,5,"330,725,953,270,000","5,969,782,550"
2,2023-01-04,005930,"55,700","58,000","55,600","57,800","20,188,071","1,151,473,733,800","2,400",4.3300,2,00,"55,700","58,000","55,600","57,800","2,400",4.3300,2,"345,053,431,390,000","5,969,782,550"
3,2023-01-05,005930,"58,200","58,800","57,600","58,200","15,682,826","911,973,904,900",400,0.6900,2,00,"58,200","58,800","57,600","58,200",400,0.6900,2,"347,441,344,410,000","5,969,782,550"
4,2023-01-06,005930,"58,300","59,400","57,900","59,000","17,334,989","1,018,769,177,900",800,1.3700,2,00,"58,300","59,400","57,900","59,000",800,1.3700,2,"352,217,170,450,000","5,969,782,550"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,2023-08-21,005930,"66,600","67,100","66,300","66,600","9,720,067","647,498,994,572",300,0.4500,2,00,"66,600","67,100","66,300","66,600",300,0.4500,2,"397,587,517,830,000","5,969,782,550"
158,2023-08-22,005930,"67,200","67,700","66,300","66,600","10,500,242","702,152,276,000",0,0.0000,3,00,"67,200","67,700","66,300","66,600",0,0.0000,3,"397,587,517,830,000","5,969,782,550"
159,2023-08-23,005930,"66,700","67,100","66,400","67,100","9,549,352","638,222,447,700",500,0.7500,2,00,"66,700","67,100","66,400","67,100",500,0.7500,2,"400,572,409,105,000","5,969,782,550"
160,2023-08-24,005930,"68,300","68,700","67,900","68,200","15,044,463","1,026,978,314,909","1,100",1.6400,2,00,"68,300","68,700","67,900","68,200","1,100",1.6400,2,"407,139,169,910,000","5,969,782,550"
161,2023-08-25,005930,"67,100","67,400","66,900","67,000","6,083,102","408,284,800,400","-1,200",-1.7600,5,00,"67,100","67,400","66,900","67,000","-1,200",-1.7600,5,"399,975,430,850,000","5,969,782,550"

`start_date` 인수를 생략하면 `end_date` 인수값으로 지정된 날짜의 1년 전을 가정하여 정보를 출력합니다. 
`start_date` 인수와 `end_date` 인수를 모두 생략하면 함수를 호출한 날로부터 1년전부터 당일까지의 정보를 출력합니다.

In [6]:
kq.daily_stock("005930")

,DATE,SYMBOL,OPEN,HIGH,LOW,CLOSE,VOLUME,AMOUNT,CHG,CHG_PCT,CHG_TYPE,EX_EVENT,OPEN_NOTADJ,HIGH_NOTADJ,LOW_NOTADJ,CLOSE_NOTADJ,CHG_NOTADJ,CHG_PCT_NOTADJ,CHG_TYPE_NOTADJ,MARKETCAP,SHARES
0,2022-08-25,005930,"59,200","59,700","59,000","59,700","5,767,902","342,780,937,200",700,1.1900,2,00,"59,200","59,700","59,000","59,700",700,1.1900,2,"356,396,018,235,000","5,969,782,550"
1,2022-08-26,005930,"60,300","60,900","59,900","60,000","9,499,995","573,040,309,950",300,0.5000,2,00,"60,300","60,900","59,900","60,000",300,0.5000,2,"358,186,953,000,000","5,969,782,550"
2,2022-08-29,005930,"58,700","58,900","58,600","58,600","9,841,329","577,684,200,900","-1,400",-2.3300,5,00,"58,700","58,900","58,600","58,600","-1,400",-2.3300,5,"349,829,257,430,000","5,969,782,550"
3,2022-08-30,005930,"58,700","59,000","58,300","58,800","9,690,044","567,627,668,500",200,0.3400,2,00,"58,700","59,000","58,300","58,800",200,0.3400,2,"351,023,213,940,000","5,969,782,550"
4,2022-08-31,005930,"58,200","59,900","58,200","59,700","14,203,512","841,319,635,900",900,1.5300,2,00,"58,200","59,900","58,200","59,700",900,1.5300,2,"356,396,018,235,000","5,969,782,550"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244,2023-08-21,005930,"66,600","67,100","66,300","66,600","9,720,067","647,498,994,572",300,0.4500,2,00,"66,600","67,100","66,300","66,600",300,0.4500,2,"397,587,517,830,000","5,969,782,550"
245,2023-08-22,005930,"67,200","67,700","66,300","66,600","10,500,242","702,152,276,000",0,0.0000,3,00,"67,200","67,700","66,300","66,600",0,0.0000,3,"397,587,517,830,000","5,969,782,550"
246,2023-08-23,005930,"66,700","67,100","66,400","67,100","9,549,352","638,222,447,700",500,0.7500,2,00,"66,700","67,100","66,400","67,100",500,0.7500,2,"400,572,409,105,000","5,969,782,550"
247,2023-08-24,005930,"68,300","68,700","67,900","68,200","15,044,463","1,026,978,314,909","1,100",1.6400,2,00,"68,300","68,700","67,900","68,200","1,100",1.6400,2,"407,139,169,910,000","5,969,782,550"
248,2023-08-25,005930,"67,100","67,400","66,900","67,000","6,083,102","408,284,800,400","-1,200",-1.7600,5,00,"67,100","67,400","66,900","67,000","-1,200",-1.7600,5,"399,975,430,850,000","5,969,782,550"

## 3.4 일중 주가정보

`intra_stock()` 함수는 호출 당일의 10초 또는 1분 간격 일중정보를 제공합니다.

시간 간격은 `interval` 인수의 값으로 설정하며 `"10S"`는 10초, `"10S"`는 1분 간격입니다.
`interval` 인수의 값을 생략하면 1분으로 가정합니다.

10초 정보의 경우 거래소 상황에 따라 원 데이터 자체에 일부 데이터 누락이 있을 수 있습니다.

In [7]:
# 1분 간격 일중정보
kq.intra_stock("005930")

,DATETIME,DATE,TIME,SYMBOL,OPEN,HIGH,LOW,CLOSE,VOLUME,AMOUNT,VOLUME_ACC,AMOUNT_ACC,CHG,CHG_PCT,CHG_TYPE
1,2023-08-25 09:00:00,2023-08-25,09:00:00,005930,"67,100","67,200","67,000","67,000","503,014","33,744,029,600","503,014","33,744,029,600","-1,200",-1.7600,5
2,2023-08-25 09:01:00,2023-08-25,09:01:00,005930,"67,000","67,100","66,900","67,100","108,898","7,294,288,600","611,912","41,038,318,200","-1,100",-1.6100,5
3,2023-08-25 09:02:00,2023-08-25,09:02:00,005930,"67,100","67,300","67,000","67,200","209,482","14,070,755,100","821,394","55,109,073,300","-1,000",-1.4700,5
4,2023-08-25 09:03:00,2023-08-25,09:03:00,005930,"67,100","67,200","67,100","67,200","25,605","1,718,705,700","846,999","56,827,779,000","-1,000",-1.4700,5
5,2023-08-25 09:04:00,2023-08-25,09:04:00,005930,"67,200","67,200","67,100","67,200","12,703","853,014,400","859,702","57,680,793,400","-1,000",-1.4700,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
358,2023-08-25 14:57:00,2023-08-25,14:57:00,005930,"67,000","67,100","67,000","67,100","7,315","490,303,700","6,044,211","405,678,193,100","-1,100",-1.6100,5
359,2023-08-25 14:58:00,2023-08-25,14:58:00,005930,"67,000","67,100","67,000","67,000","10,297","690,415,000","6,054,508","406,368,608,100","-1,200",-1.7600,5
360,2023-08-25 14:59:00,2023-08-25,14:59:00,005930,"67,100","67,100","67,000","67,000","7,786","521,795,300","6,062,294","406,890,403,400","-1,200",-1.7600,5
361,2023-08-25 15:00:00,2023-08-25,15:00:00,005930,"67,000","67,100","67,000","67,000","10,111","677,529,600","6,072,405","407,567,933,000","-1,200",-1.7600,5
362,2023-08-25 15:01:00,2023-08-25,15:01:00,005930,"67,100","67,100","67,000","67,000","7,242","485,330,800","6,079,647","408,053,263,800","-1,200",-1.7600,5

In [8]:
# 10초 간격 일중정보
kq.intra_stock("005930", "10S")

,DATETIME,DATE,TIME,SYMBOL,OPEN,HIGH,LOW,CLOSE,VOLUME,AMOUNT,VOLUME_ACC,AMOUNT_ACC,CHG,CHG_PCT,CHG_TYPE
0,2023-08-25 09:00:00,2023-08-25,09:00:00,005930,"68,200","68,200","68,200","68,200",0,0,0,0,0,0.0000,0
1,2023-08-25 09:00:10,2023-08-25,09:00:10,005930,"67,100","67,200","67,100","67,200","288,326","19,351,597,900","288,326","19,351,597,900","-1,000",-1.4700,5
2,2023-08-25 09:00:20,2023-08-25,09:00:20,005930,"67,100","67,200","67,100","67,200","45,347","3,043,248,400","333,673","22,394,846,300","-1,000",-1.4700,5
3,2023-08-25 09:00:30,2023-08-25,09:00:30,005930,"67,200","67,200","67,100","67,200","20,198","1,355,484,600","353,871","23,750,330,900","-1,000",-1.4700,5
4,2023-08-25 09:00:40,2023-08-25,09:00:40,005930,"67,100","67,200","67,000","67,100","48,581","3,255,483,700","402,452","27,005,814,600","-1,100",-1.6100,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"2,167",2023-08-25 15:01:10,2023-08-25,15:01:10,005930,"67,100","67,100","67,000","67,000","1,752","117,391,400","6,074,157","407,685,324,400","-1,200",-1.7600,5
"2,168",2023-08-25 15:01:20,2023-08-25,15:01:20,005930,"67,100","67,100","67,000","67,100","1,405","94,192,200","6,075,562","407,779,516,600","-1,100",-1.6100,5
"2,169",2023-08-25 15:01:30,2023-08-25,15:01:30,005930,"67,100","67,100","67,000","67,000","3,113","208,604,400","6,078,675","407,988,121,000","-1,200",-1.7600,5
"2,170",2023-08-25 15:01:40,2023-08-25,15:01:40,005930,"67,000","67,100","67,000","67,000",972,"65,142,800","6,079,647","408,053,263,800","-1,200",-1.7600,5
"2,171",2023-08-25 15:01:50,2023-08-25,15:01:50,005930,"67,000","67,100","67,000","67,000","3,455","231,536,600","6,083,102","408,284,800,400","-1,200",-1.7600,5

## 3.5 전종목 주가정보 동시 조회

`rank_stocks` 함수는 전 종목의 주가정보를 동시에 조회하는 함수입니다.

In [9]:
kq.rank_stocks()

,SYMBOL,OPEN,HIGH,LOW,CLOSE,VOLUME,AMOUNT,PREV_CLOSE,CHG_PCT,CHG_TYPE,MARKETCAP,NAME,NAME_EN,SEC_TYPE,MARKET
0,005930,"67,100","67,400","66,900","67,000","6,083,542","408,314,280,400","68,200",-1.7595,5,"399,975,430,850,000",삼성전자,SamsungElec,ST,유가증권
1,373220,"527,000","549,000","525,000","546,000","227,279","123,395,148,000","535,000",2.0561,2,"127,764,000,000,000",LG에너지솔루션,LG Energy Solution,ST,유가증권
2,000660,"117,400","118,300","115,300","116,500","3,196,249","372,791,857,400","120,900",-3.6394,5,"84,812,275,522,500",SK하이닉스,SK hynix,ST,유가증권
3,207940,"755,000","764,000","754,000","757,000","20,520","15,557,385,000","763,000",-0.7864,5,"53,878,718,000,000",삼성바이오로직스,SAMSUNG BIOLOGICS,ST,유가증권
4,005490,"567,000","583,000","561,000","580,000","851,676","488,936,461,000","579,000",0.1727,2,"49,051,313,400,000",POSCO홀딩스,POSCO Holdings,ST,유가증권
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"3,753",580024,"1,900","1,910","1,885","1,900",164,"311,785","1,950",-2.5641,5,"1,900,000,000",KB 레버리지 KRX BBIG K-뉴딜 ETN,KB Leverage KRX BBIG K-Newdeal ETN,EN,유가증권
"3,754",426410,"12,435","12,435","12,400","12,400",102,"1,264,870","12,505",-0.8397,5,"1,860,000,000",ARIRANG 미국대체투자Top10MV,ARIRANG Top10 US Listed Alt Managers MV,EF,유가증권
"3,755",287330,"5,900","5,970","5,900","5,965","15,161","90,258,435","5,880",1.4456,2,"1,312,300,000",KBSTAR 200생활소비재,KBSTAR 200 Con&Sta,EF,유가증권
"3,756",315480,"10,495","10,495","10,425","10,425",22,"230,350","10,650",-2.1127,5,"1,251,000,000",KBSTAR 200커뮤니케이션서비스,KBSTAR 200CS,EF,유가증권
"3,757",287320,"11,835","11,975","11,835","11,965",4,"47,730","11,910",0.4618,2,"1,196,500,000",KBSTAR 200산업재,KBSTAR 200 Industrials,EF,유가증권

`rank_stocks` 함수는 기본적으로 시가총액 기준으로 정렬한 결과를 출력합니다. `order_key` 인수를 사용하여 다양한 기준으로 정렬할 수 있습니다.

In [10]:
kq.rank_stocks(order_key="VOLUME")

,SYMBOL,OPEN,HIGH,LOW,CLOSE,VOLUME,AMOUNT,PREV_CLOSE,CHG_PCT,CHG_TYPE,MARKETCAP,NAME,NAME_EN,SEC_TYPE,MARKET
0,252670,"2,705","2,705","2,665","2,685","101,410,800","272,477,584,070","2,630",2.0913,2,"1,713,567,000,000",KODEX 200선물인버스2X,KODEX 200 Futures Inverse 2X,EF,유가증권
1,251340,"3,625","3,625","3,550","3,565","65,595,610","234,711,736,695","3,560",0.1404,2,"994,635,000,000",KODEX 코스닥150선물인버스,KODEX KOSDAQ150 INVERSE,EF,유가증권
2,046970,"2,280","2,670","2,250","2,310","57,981,395","143,738,186,320","2,265",1.9868,2,"74,034,654,540",우리로,WOORIRO,ST,코스닥
3,073640,"1,554","1,981","1,550","1,981","54,812,189","100,718,684,576","1,524",29.9869,1,"181,486,937,800",테라사이언스,TERA SCIENCE,ST,코스닥
4,900310,"1,238","1,530","1,212","1,395","48,782,334","69,805,223,256","1,246",11.9583,2,"89,338,136,625",컬러레이,Coloray,FS,코스닥
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"3,753",012600,0,0,0,"2,490",0,0,"2,490",0.0000,0,"75,075,987,510",청호ICT,CHUNGHO ICT,ST,유가증권
"3,754",002600,0,0,0,"176,600",0,0,"176,600",0.0000,0,"105,960,000,000",조흥,CHOHEUNG,ST,유가증권
"3,755",001390,0,0,0,"45,650",0,0,"45,650",0.0000,0,"625,122,335,200",KG케미칼,KGC,ST,유가증권
"3,756",001340,0,0,0,"7,790",0,0,"7,790",0.0000,0,"349,914,390,530",백광산업,PaikkwangInd,ST,유가증권
"3,757",078130,0,0,0,800,0,0,800,0.0000,0,"102,093,978,400",국일제지,KUK-IL PAPER,ST,코스닥